# stock lein ignores
/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/

# IDE files
/.vscode
/.calva
/.clj-kondo
/.lsp
/.staging
/.classpath

# testing
.zic.sqlite3
.zic.db
lighttpd-environment/lighttpd.conf
lighttpd-environment/wwwroot
lighttpd-environment/lighttpd
lighttpd-environment/test-data


# editor files
.*.sw[a-z]
*~
\#*
.*#
.#*
