# stock lein ignores
/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/

# testing
.zic.sqlite3
.zic.db

# editor files
.*.sw[a-z]
*~
\#*
.*#
.#*
/.idea
/.calva
