{
 :paths ["src"]
 :deps
 {
  datalevin/datalevin {:mvn/version "0.6.16"}
  org.clojure/clojure {:mvn/version "1.11.1"}
  cheshire/cheshire {:mvn/version "5.9.0"}
  org.martinklepsch/clj-http-lite {:mvn/version "0.4.3"}
  buddy/buddy-core {:mvn/version "1.10.1"}
  serovers/serovers {:mvn/version "1.7.0"}
  ;; https://simonrobson.net/2019/04/16/clojure-deps-with-exclusions.html
  onecli/onecli {:mvn/version "0.9.0-SNAPSHOT" :exclusions [org.clojure/clojure org.clojure/clojure]}
  clj-commons/clj-yaml {:mvn/version "0.7.108"}
  }
 :jvm-opts
 [
  "--add-opens=java.base/java.nio=all-unnamed"
  "--add-opens=java.base/sun.nio.ch=all-unnamed"
  ]
 :aliases
 {
  :tracing
  {
   :jvm-opts [
              "--add-opens=java.base/java.nio=all-unnamed"
              "--add-opens=java.base/sun.nio.ch=all-unnamed"
              "-Djavax.net.ssl.trustStore=test/resources/test.keystore"
              "-Djavax.net.ssl.trustStorePassword=asdfasdf"
              "-agentlib:native-image-agent=config-merge-dir=META-INF/native-image"
              ]
   :main-opts ["-e" "(set! *warn-on-reflection* true)"
               "-m" "zic.cli"]
   }

  ;; Use: run clj -X:test
  :test
  {
   :extra-paths ["test"]
   :extra-deps {io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
   :main-opts ["-m" "cognitect.test-runner"]
   :exec-fn cognitect.test-runner.api/test
   }
  ;; Use: run clj -M:erepl [-i] [-c] [-h] [-p], see nrepl docs

  :nrepl
  {
   :paths ["src"]
   :jvm-opts [
              "--add-opens=java.base/java.nio=all-unnamed"
              "--add-opens=java.base/sun.nio.ch=all-unnamed"
              "-Djavax.net.ssl.trustStore=test/resources/test.keystore"
              "-Djavax.net.ssl.trustStorePassword=asdfasdf"]
   :main-opts ["-m" "nrepl.cmdline"]
   :extra-deps
   {
    nrepl/nrepl {:mvn/version "0.5.3"}
    }
   }
  :build-nrepl
  {
   :paths ["tools"]
   :main-opts ["-m" "nrepl.cmdline"]
   :extra-deps
   {
    io.github.clojure/tools.build
    {
     :git/url "https://github.com/clojure/tools.build.git"
     :git/tag "v0.8.3"
     :git/sha "0d20256"
     }
    babashka/process {:mvn/version "0.1.2"}
    babashka/fs {
                 :git/url "https://github.com/babashka/fs.git"
                 :git/sha "73210e83808b8bfe664cba7d2148464a2fa38aae"
                 }
    nrepl/nrepl {:mvn/version "0.5.3"}
    }
   }
  ;; Use: run clj -T:build uber
  :build
  {
   :paths ["tools"]
   :extra-deps
   {
    io.github.clojure/tools.build
    {
     :git/url "https://github.com/clojure/tools.build.git"
     :git/tag "v0.8.3"
     :git/sha "0d20256"
     }
    babashka/process {:mvn/version "0.1.2"}
    babashka/fs {
                 :git/url "https://github.com/babashka/fs.git"
                 :git/sha "73210e83808b8bfe664cba7d2148464a2fa38aae"
                 }
    }
   :ns-default build
   }
  :uberjar
  {
   :jvm-opts
   [
    "-Dclojure.compiler.direct-linking=true"
    "-Dclojure.compiler.elide-meta=[:doc :file :line :added]"
    "-Dclojure.spec.skip-macros=true"
    "--add-opens=java.base/java.nio=all-unnamed"
    "--add-opens=java.base/sun.nio.ch=all-unnamed"
    ]
   :deps
   {
    org.clojars.huahaiy/datalevin-native {:mvn/version "0.6.16"}
    org.clojure/clojure {:mvn/version "1.11.1"}
    cheshire/cheshire {:mvn/version "5.9.0"}
    org.martinklepsch/clj-http-lite {:mvn/version "0.4.3"}
    buddy/buddy-core {:mvn/version "1.10.1"}
    serovers/serovers {:mvn/version "1.7.0"}
    ;; https://simonrobson.net/2019/04/16/clojure-deps-with-exclusions.html
    onecli/onecli {:mvn/version "0.9.0-SNAPSHOT" :exclusions [org.clojure/clojure org.clojure/clojure]}
    clj-commons/clj-yaml {:mvn/version "0.7.108"}
    com.github.clj-easy/graal-build-time {:mvn/version "0.1.4"}
    com.github.clj-easy/graal-config-cheshire
    {
     :git/url   "https://github.com/clj-easy/graal-config"
     :git/sha   "0dc2862e1b1c9871eef4c306ef77da3610a2bd93"
     :deps/root "config/cheshire/cheshire"
     }
    ;;com.github.clj-easy/graal-config-h2
    ;;{
    ;; :git/url   "https://github.com/clj-easy/graal-config"
    ;; :git/sha   "0dc2862e1b1c9871eef4c306ef77da3610a2bd93"
    ;; :deps/root "config/com.h2database/h2"
    ;; }
    ;;com.github.clj-easy/next.jdbc
    ;;{
    ;; :git/url "https://github.com/clj-easy/graal-config"
    ;; :git/sha "0dc2862e1b1c9871eef4c306ef77da3610a2bd93"
    ;; :deps/root "config/com.github.seancorfield/next.jdbc"
    ;;}
    }
   }
  }
 }
